Source: g19daemon
Section: utils
Priority: optional
Maintainer: Lonelobo0070
Build-Depends: debhelper (>= 9),  libusb-1.0-0-dev, libpulse-dev, build-essential, qt6-base-dev

Package: g19daemon
Architecture: any
Depends: libusb-1.0-0, libpulse0, libqt6gui6, libqt6core6a, libqt6widgets6
Description: Screen multiplexer for Logitech G19 Keyboard
 G19daemon provides multiple virtual screens for the LCD on the Logitech
 G19 Keyboard
