name: Build deb file

on: push

jobs:
  build-deb:

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install build dependencies
      run: sudo apt update && sudo apt install debhelper libusb-1.0-0-dev libpulse-dev qt6-base-dev
    - name: Build deb file
      run: dpkg-buildpackage -b --no-sign
    - name: Move deb file
      run: cp ../*deb ./
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: X64
        path: ${{ github.workspace }}/*.deb
