name: Build rpm file

on: push

jobs:
  build-rpm:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository and submodules
      uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Install build dependencies
      run: sudo apt update && sudo apt install debhelper libusb-1.0-0-dev libpulse-dev rpm
    - name: Cache Qt
      id: cache-qt
      uses: actions/cache@v1
      with:
        path: ../Qt
        key: ${{ runner.os }}-QtCache
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '6.7'
    - name: Build G19daemon
      run: mkdir build && cd build && cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr .. && make
    - name: Build rpm file
      run: cd build && sudo cpack -G RPM
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: X64
        path: ${{ github.workspace }}/build/*.rpm
